CukAutomationOperations/Connected Services/MiscServices/Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/V_Series" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/V_Series" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ValidateUKBankAccountResponseModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="invalidParameter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="invalidReason" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="valid" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateUKBankAccountResponseModel" nillable="true" type="tns:ValidateUKBankAccountResponseModel" />
</xs:schema>