CukAutomationOperations/Connected Services/MiscServices/Services2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/MiscServices/Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/V_Series" />
  <xs:element name="ValidateUKBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingSocietyRollNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUKBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/V_Series" minOccurs="0" name="ValidateUKBankAccountResult" nillable="true" type="q1:ValidateUKBankAccountResponseModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLocalData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateLocalDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkWebGiftToGMC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="base64data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BulkWebGiftToGMCResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidateUKBankAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SortCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="buildingSocietyRollNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetValidateUKBankAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetValidateUKBankAccountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>