CukAutomationOperations/Connected Services/MiscServices/Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Services" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IServices_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/MiscServices/Services.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/MiscServices/Services.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/MiscServices/Services.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/V_Series" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServices_ValidateUKBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUKBankAccount" />
  </wsdl:message>
  <wsdl:message name="IServices_ValidateUKBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateUKBankAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_updateLocalData_InputMessage">
    <wsdl:part name="parameters" element="tns:updateLocalData" />
  </wsdl:message>
  <wsdl:message name="IServices_updateLocalData_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateLocalDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_BulkWebGiftToGMC_InputMessage">
    <wsdl:part name="parameters" element="tns:BulkWebGiftToGMC" />
  </wsdl:message>
  <wsdl:message name="IServices_BulkWebGiftToGMC_OutputMessage">
    <wsdl:part name="parameters" element="tns:BulkWebGiftToGMCResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetValidateUKBankAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidateUKBankAccount" />
  </wsdl:message>
  <wsdl:message name="IServices_GetValidateUKBankAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidateUKBankAccountResponse" />
  </wsdl:message>
  <wsdl:portType name="IServices">
    <wsdl:operation name="ValidateUKBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/ValidateUKBankAccount" message="tns:IServices_ValidateUKBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/ValidateUKBankAccountResponse" message="tns:IServices_ValidateUKBankAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateLocalData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/updateLocalData" message="tns:IServices_updateLocalData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/updateLocalDataResponse" message="tns:IServices_updateLocalData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BulkWebGiftToGMC">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/BulkWebGiftToGMC" message="tns:IServices_BulkWebGiftToGMC_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/BulkWebGiftToGMCResponse" message="tns:IServices_BulkWebGiftToGMC_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetValidateUKBankAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetValidateUKBankAccount" message="tns:IServices_GetValidateUKBankAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetValidateUKBankAccountResponse" message="tns:IServices_GetValidateUKBankAccount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUKBankAccount">
      <soap:operation soapAction="http://tempuri.org/IServices/ValidateUKBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLocalData">
      <soap:operation soapAction="http://tempuri.org/IServices/updateLocalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkWebGiftToGMC">
      <soap:operation soapAction="http://tempuri.org/IServices/BulkWebGiftToGMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidateUKBankAccount">
      <soap:operation soapAction="http://tempuri.org/IServices/GetValidateUKBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IServices" type="tns:IServices">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IServices_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateUKBankAccount">
      <soap:operation soapAction="http://tempuri.org/IServices/ValidateUKBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateLocalData">
      <soap:operation soapAction="http://tempuri.org/IServices/updateLocalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkWebGiftToGMC">
      <soap:operation soapAction="http://tempuri.org/IServices/BulkWebGiftToGMC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetValidateUKBankAccount">
      <soap:operation soapAction="http://tempuri.org/IServices/GetValidateUKBankAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://localhost/MiscServices/Services.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IServices" binding="tns:BasicHttpsBinding_IServices">
      <soap:address location="https://id103021/MiscServices/Services.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>